.footer {
  background-color: black;
  margin-top: 50px;
  position: relative;
}
.footer > .logo-img {
  position: absolute;
  top: 1rem;
  left: 5rem;
  width:1rem;
}
.footer > .logo-img svg path{
  fill: white;
}
.footer .footer-img {
  max-width: 100%;
  width: 100%;
  margin-top: 1rem;
}
