.cart-container {
  position: relative;
  width: 90%;
  margin: 4rem auto;
  border-radius: 1rem;
  box-shadow: 1px 1px 13px 3px rgb(243, 243, 243);
  min-height: 500px;
  padding: 3rem 4rem;
}

.cart-products-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.cart-product-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid rgb(247, 247, 247);
  padding: 1rem 1rem;
}
.cart-product-item h4 {
  width: 10rem;
  font-size: 1.8rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cart-product-item span {
  display: flex;
  width: 5rem;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.product-cart-img {
  flex-shrink: 0;
  margin: 0;
  max-width: 10rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.add-quality {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.quality-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  line-height: 1rem;
}
.decrease {
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.decrease:hover {
  background-color: #575757;
  transition: all 0.3s ease-in-out;
}

.increase {
  background-color: #fc7c7e;
  transition: all 0.3s ease-in-out;
}
.increase:hover {
  background-color: #ff5558;
  transition: all 0.3s ease-in-out;
}

.total-cost-holder {
  position: relative;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
  padding: 3rem 1rem;
  margin-top: 3rem;
  margin-right: 2rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.total-cost {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0rem 1rem;
  color: rgb(255, 255, 255);
}
.total-cost span {
  color: #fd9596;
  font-size: 1.5rem;
  font-weight: bold;
}
.cart-container h1 {
  margin-top: 2rem;
}
.container h3 {
  margin: 0;
}


.checkout-btn {
  padding: 0.7rem 0.8rem;
  border: none;
  border-radius: 1rem;
  color: black;
  margin-top: 2rem;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}
.checkout-btn:hover {
  background-color: #fd9596;
  color: white;
}

.cart-not__found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
